@import "../../styles/vars.scss";

.main {
  color: $darkGreyColor;

  .icon-with-value-elem {
    padding: 25px 25px 7px 25px;
  }

  .select-a-device {
    line-height: 40px;
  }

  .search-elem {
    height: 75px;
    width: 75px;
    background-color: $darkGreyColor;
    font-size: 26px;
    padding-top: 18px;
  }

  .text-elem {
    font-size: 0.9em;
    font-weight: normal;
  }
  .graph-elem {
    padding: 0px 0px 5px 0px;
    margin-top: -20px;
    font-weight: normal;
  }
}

.is-loading-container {
  display: flex;
  .is-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
