@import "bootstrap/scss/bootstrap.scss"; //TODO: load only bootstrap you need
@import "vars.scss";


body {
    font-family: "Montserrat";
    background-color: $whiteColor;
}

body, html{
    height: 100%;
}

a {
    &:visited,&:hover,&:active,&:link{
    color: $whiteColor;
    }
}

.light {
    color: $darkGreyColor;
}

.dark {
    color: $whiteColor;
}