@import '../../Styles/Vars.scss';

.card-elem{
    border-radius: 25px;
    font-family: $fontFamilyMontserrat;
    font-weight: 800;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.15);
    -webkit-box-shadow: 3px 3px 8px rgba(0,0,0,0.15);
    -moz-box-shadow: 3px 3px 8px rgba(0,0,0,0.15);
}