@import '../../Vars.scss';

.about{
    .about__header{
        font-weight: 700;
        width: 100%;
    }
    
    .about__anchor{
        width: 100%;
        text-decoration: underline;
        line-height : 26px;
    }

}



