@import '../../Vars.scss';

.history-elem-container{
    background-color:$darkGreyColor;
}

.arrow-back-elem{
    color: $darkGreyColor;
    background-color: $whiteColor;
    height: 50px;
    width: 50px;
    font-size: 1.3em;
    padding: 9px 14px;

    a:visited{
        color: $darkGreyColor;
    }
}

.history-text-elem{
    color: $whiteColor;
    font-size: 1.5em;
    margin: -15px auto;
}

.date-range-pickers-container{
    padding: 15px 0 10px 0;
    margin: 0 auto;
    
}
.history-graph-elem{
    padding: 20px 20px 10px 20px;
    margin-top: -20px;
}
.search-button{
    background-color: $whiteColor !important;
    color: $darkGreyColor;
    border-radius: 10px;
}