@import '../../Styles/Vars.scss';

.date-picker-text{
    font-weight: 700;
    font-size: 0.9em;
    color: $whiteColor;
}

.date-picker-input{
    color:  $lightGreyColor;
    font-size: 0.9em;
    padding: 10px 10px;
    width: 100%;
    border-radius: 10px;
} 