@import "../../styles/vars.scss";

.date-picker-text {
  font-weight: 700;
  font-size: $fontSizeSmall;
  color: $whiteColor;
  display: block;
}

.date-picker-input {
  color: $lightGreyColor;
  font-size: $fontSizeSmall;
  padding: 10px 10px;
  width: 100%;
  border-radius: 10px;
}
