@import '../../Vars.scss';

.unexpected-error{
    position: absolute;
    top: 20%;
    
    .unexpected-error__text {
        width: 150px;
        color: $darkGreyColor;
        position: absolute;
        left: 55%;
        transform: translateY(-20%);
    }
    .unexpected-error__robot-img{
        position: relative;   
    }
    .unexpected-error__button{
        background-color: $darkGreyColor;
        border-radius: 10px;
        a{
            &:visited,&:hover,&:active{
            color: $whiteColor;
        }
        }
    }

}



