@import '../../Vars.scss';

.loading {
    animation: rotate 3s infinite;
    font-size: 3em;
}
.loading-white {
    color: $whiteColor;
}
.loading-dark {
    color: $darkGreyColor;
}
@keyframes rotate {
    from {
        
    }
  
    to {
        transform: rotate(360deg)
    }
  }