@import '../../styles/vars.scss';

.loading {
    animation: rotate 2s infinite;
    font-size: 3em;
}
.loading-white {
    color: $whiteColor;
}
.loading-dark {
    color: $darkGreyColor;
}
@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
  }