* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.side-menu {
    color: white;
    background-color: #515151;
    height: 100% ;
    position: absolute;
    width: 90%;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

header p {
    font-size: medium; 
    font-weight: bold;
    margin: 0;
}

main,
footer,
hr {
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2rem;
}

hr {
    border-top: 1px solid #979797;
}

main button {
    width: fit-content;
    color: #979797;
    border: none;
    background-color: #515151;
    margin: 8px 0;
    font-size: 1.4rem;
    font-weight: 700;
}

main button:focus {
    color: #2ECA70;
    outline: 0;
}

a, a:hover {
    color: #fff;
    text-decoration: none;
}

footer {
    margin: 40px 20px;
}

.fa-bars {
    font-size: 2rem;
}

.close-button  {
    background-color: #515151;
    border: none;
    
}

.fa-times-circle{
    font-size: 2.8rem;
    color: #fff;
    padding: 5px;
}

.close-button:focus {
    outline: 0;
}

.fa-times-circle:active {
    color: #2ECA70;
}
