@import '../../Vars.scss';

.select-a-device{
    color: $whiteColor;
    background-color: $darkGreyColor;
    height: 100vh;
}

.select-a-device-btn{
    color: $darkGreyColor;
    background-color: $whiteColor;
}